@font-face {
  font-family: 'YatraOne';
  src: url('YatraOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono';
  src: url('SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono';
  src: url('SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}
