/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 /* gradient
 background: rgb(188,148,255);
 background: linear-gradient(101deg, rgba(188,148,255,1) 0%, rgba(255,138,0,1) 35%, rgba(147,212,107,1) 100%);
*/

/* global variales */
:root {
  --r4e-black: #000;
  --r4e-white: #fff;
  --r4e-purple: #BC94FF;
  --r4e-green: #93D46B;
  --r4e-orange: #FF8A00;
  --section-margin: 15.5vh;
  --section-padding: 1.5vw;
  --button-padding: 20px;
  --border-radius: 20px;
  font-size: 1em;
  line-height: 1.4;
  --r4e-gradient: linear-gradient(214deg, rgba(188,148,255,1) 0%, rgba(255,138,0,1) 35%, rgba(147,212,107,1) 100%);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  background-color: var(--r4e-black);
  color: var(--r4e-white);
  font-family: 'SpaceMono';
}
a {
  color: var(--r4e-purple);
}
a.button {
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  color: var(--r4e-white);
  text-decoration: none;
  background: var(--r4e-purple);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  display: block;
  margin: var(--section-margin) auto;
  width: 20vw;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: var(--r4e-purple);
}
a.button:hover {
  background: none;
  border-style: solid;
  border-width: 3px;
  border-color: var(--r4e-purple);
  color: var(--r4e-purple);
}

/* nav menu — consistent on every page */

nav {
  display: flex;
  flex-wrap: wrap;
  padding: var(--section-padding);
}

.logo {
  width: 100px;
  height: 100px;
  padding-inline-start: 1vw;
}

ul.nav-links {
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: inline-block;
  padding-inline-end: 1vw;
  padding-block-start: 25px;
}

.nav-links > li > a {
  text-decoration: none;
}

.nav-links > li > a:active {
  text-decoration: underline;
  font-weight: bolder;
}

/* footer — consistent on every page */

footer {
  background-image: url("r4eHeart.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* home page hero */

.home-header {
  height: 100vh;
  display: block;
  background-image: url("smileys.svg");
  background-position: center bottom;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: 30vh;
}

.hero {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 25vh var(--section-padding);
}

.hero h1 {
  text-align: center;
  margin: auto;
  font-size: calc(46px + 2vw);
  font-family: 'BioRhymeExpanded';
  font-weight: bolder:
  color: var(--r4e-white);
  display: block;
  width: fit-content;
  text-shadow: 3px 3px 0px var(--r4e-purple), 6px 6px 0px var(--r4e-green), 9px 9px 0px var(--r4e-orange);
}

.hero h2 {
  text-align: center;
  font-size: calc(12px + 1.5vw);
  font-weight: lighter;
  color: var(--r4e-purple);
}

/* home page who we are section */

#whomst {
  margin: var(--section-margin);
}

#whomst h2 {
  font-family: 'BioRhymeExpanded';
  text-align: center;
  font-size: calc(12px + 1.5vw);
}

.whomst-container {
  display: flex;
  align-items: center;
}
.whomst-images img {
  flex-shrink: 1;
  padding-bottom: var(--section-padding);
  width: 30vw;
}
.whomst-images {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
}

.whomst-text {

}
.whomst-footer {

}

/* home page events section */

#events {
  background: var(--r4e-purple);
  background: var(--r4e-gradient);
  padding: var(--section-padding);
}
#events h2 {
  text-align: center;
  font-family: BioRhymeExpanded;
  font-size: calc(12px + 1.5vw);
  margin: var(--section-margin);
}
.event-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.item {
  position: relative;
  padding: var(--section-padding);
}
.item h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
  font-size: calc(12px + 1.3vw);
}

/* events page */

.events-header {
  height: 50vh;
  display: block;
}
.events-hero {
  display: block;
  margin: auto;
  width: fit-content;
  padding: 10vh var(--section-padding);
}
.events-hero h1 {
  text-align: center;
  margin: auto;
  font-size: calc(46px + 2vw);
  font-family: 'BioRhymeExpanded';
  font-weight: bolder:
  color: var(--r4e-white);
  display: block;
  width: fit-content;
  text-shadow: 3px 3px 0px var(--r4e-purple), 6px 6px 0px var(--r4e-green), 9px 9px 0px var(--r4e-orange);
}

.events-header h2 {
  color: var(--r4e-purple);
  text-align: center;
  font-size: calc(12px + 1.5vw);
  font-weight: lighter;
}

#events-page {
  margin: var(--section-margin);
}

.recurring-events {

}

.recurring-events h2 {
  font-family: 'BioRhymeExpanded';
  color: var(--r4e-green);
  text-align: center;
  font-size: calc(12px + 1.5vw);
}

.special-events h2 {
  font-family: 'BioRhymeExpanded';
  color: var(--r4e-orange);
  text-align: center;
  font-size: calc(12px + 1.5vw);
}

.other-events h2 {
  font-family: 'BioRhymeExpanded';
  color: var(--r4e-purple);
  text-align: center;
  font-size: calc(12px + 1.5vw);
}

.smile-list {
  list-style: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1200px) {
  /* home page — who we are section. styling for smaller screen sizes */
  .whomst-container {
    flex-direction: column;
  }
  .whomst-images {
    flex-direction: row;
    width: 45vw;
    justify-content: center;
  }
  .whomst-text {
    width: 80vw;
  }
}
@media only screen and (max-width: 1200px) {
  /* home page — events section. styling for smaller screen sizes */
  .event-items {
    flex-direction: column;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: var(--r4e-white) !important;
    color: var(--r4e-black) !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
